# Ignore Eclipse/Zend Studio project files
/.buildpath
/.project
/.settings

# Ignore PhpStorm files
/.idea/

# Ignore NetBeans files
/nbproject/

# Ignore files under Mac
.DS_Store

# Ignore files created by GitLab Actions
/.phplint-cache

# Ignore Composer files
/composer.lock
/composer.phar

# Ignore 3rd party packages
/vendor/*
